*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html,
body
{
    width: 100%;
    /* height: 100%; */
    aspect-ratio: 2/1;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box
{
    width: 40rem;
    height: 40rem;
    background-color: transparent;
    font-size: 20px;
    border-radius: 50%;
    border: 8px solid white;
}

.card
{
    width: 20%;
    aspect-ratio: 1/1;
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1rem;    
}

.img{
    width: 10rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.btn
{
    padding: 1rem 5rem 1rem 5rem;
    font-size: 1.2rem;
    font-family :'Times New Roman', Times, serif;
    border-radius: 0.5rem;
}

.btn:hover {
    background-color: rgb(66, 120, 235);
    font-size: 1rem;
}

.h5
{
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.download
{
    width: 30rem;
    aspect-ratio: 2.3/1;
    background-color: #fff;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: black;
}

.line
{
    width: 25rem;
    height: 1.3rem;
    margin-top: 0.8rem;
    background-color: lightgrey;
    border-radius: 1rem;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; */
}
.growth
{
    width: 0%;
    height: 100%;
    background-color: green;
    border-radius: 1rem;
    
}

.Amount
{
    font-size: 1.2rem;
    padding: 0.5rem;
}

.item
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h5Mp3
{
    font-size: large;
    padding: 0rem 2.5rem;
}
.btnD
{
    margin: 0rem 3rem;
    font-size: large;
    padding: 0.5rem 1rem;
    background-color: green;
    border: 0.1rem solid white;
    border-radius: 0.2rem;
    color: #fff;
}

.btnD:hover
{
    scale: 1.1;
}